body{
    margin-top: 3rem;
}
.card{
    margin-bottom: 1rem;
    background-color: aqua;
}
.footer{
    background-color: #f5f5f5;
}
.navbar-dark .navbar-brand {
    color:#595552;
    font-family: 'Dancing Script', cursive;
}